<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>食事入力画面</title>
       {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
    form { display: flex; flex-direction: column; }
    label { margin-bottom: 5px; }
    input, select { padding: 8px; margin-bottom: 10px; }
    .button-group { display: flex; justify-content: space-between; }
    .button-group a { order: -1; }  /* ホームに戻るを左に、追加を右に配置 */
    </style>
</head>
<body>
    <h1>食事入力画面</h1>
    <div class="container">
        <h2>{{ current_date|date:"Y年m月d日" }}</h2>
        <div class="calories-counter">
            <div class="current-calories">
                合計カロリー: {{ total_calories }} kcal / 必要なカロリー: <span class="required-calories">{{ target_calories }}</span> kcal
            </div>
        </div>
        <form method="post" action="{% url 'add_meal' %}">
          {% csrf_token %}
          <label for="meal_type">食事の種類:</label>
          <select id="meal_type" name="meal_type">
                <option value="breakfast">朝食</option>
                <option value="lunch">昼食</option>
                <option value="dinner">夕食</option>
           </select>
           <label for="date">日付:</label>
           <input type="date" id="date" name="date" required>
           <label for="food_name">食事内容:</label>
           <input type="text" id="food_name" name="food_name" required>
           <label for="eaten_at">摂取時間:</label>
           <input type="datetime-local" id="eaten_at" name="eaten_at" required>
           <label for="calories">カロリー:</label>
           <input type="number" id="calories" name="calories" min="0" required>
           <div class="button-group">
               <button type="submit" class="add-meal-btn">追加</button>
               <a href="{% url 'home' %}" class="home-button">ホーム画面に戻る</a>
           </div>
        </form>
    </div>

</body>
</html> 



 