<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード変更画面</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
    <div class="container">
        <h1>パスワード変更</h1>

    

        <form method="post" action="{% url 'change_password' %}" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-group">
                <a href="{% url 'home' %}" class="btn btn-home">ホーム画面に戻る</a>
                <button type="submit" class="btn-change">パスワードを変更する</button>
            </div>
        </form>
    </div>
</body>
</html>

