<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>編集画面</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style13.css' %}">
    <style>
        .button-container {
            display: flex;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    <h1>食事の履歴と編集</h1>
    <form method="post" action="{% url 'edit-complete' %}" id="edit-form">
        {% csrf_token %}
        <p>{{ form.date.label_tag }} {{ form.date }}</p>
        <p>{{ form.meal_type.label_tag }} {{ form.meal_type }}</p>
        <p>{{ form.food_name.label_tag }} {{ form.food_name }}</p>
        <p>{{ form.calories.label_tag }} <input type="number" id="id_calories" name="calories" value="{{ form.calories.value }}" min="0" required></p>
        <p>{{ form.date.label_tag }} {{ form.date }}</p>
        <label for="eaten_at">{{ form.eaten_at.label }}</label>
        <input type="time" id="eaten_at" name="eaten_at" value="{{ form.eaten_at.value|time:'H:i' }}" required>
        <div class="button-container">
            <button type="button" onclick="window.location.href='{% url 'home' %}';" class="btn btn-home">ホーム画面に戻る</button>
            <button type="submit" class="btn btn-update">更新</button>
        </div>
    </form>

    <script>
        document.querySelector('.btn-home').addEventListener('click', function(event) {
            event.preventDefault();
            window.location.href = '{% url 'home' %}';
        });
    </script>
</body>
</html>








